<%= form_for(@firm) do |f| %>
 
  <%= render :partial => "shared/error_messages", :locals => {:target => @firm if @firm.errors.any? %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
