<%= form_for(@firm, :class => "one_line_form") do |f| %>
 
  <%= render :partial => "shared/error_messages", :locals => {:target => @firm } if @firm.errors.any? %>

  <div class="field">
    <%= label :firm,  :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
