<% page_title("Клиенты") -%>


<div class="b-command-menu">
  <%= link_to 'Новый клиент', new_firm_path %>
</div>

<div id="firms" class="table_data">

<table>
  <tr>
    <th></th>
    <th>Название</th>
    <th>Город</th>
    <th>Телефон</th>
    <th>Создан</th>
    <th></th>
  </tr>

<% @firms.each do |firm| %>
  <tr>
    <td><%= link_to image_tag('edit.png'), edit_firm_path(firm) %></td>
    <td><%= firm_name firm %></td>
    <td><%= firm.city %></td>
    <td><%= firm.phone %></td>
    <td><%= I18n.l(firm.created_at, :format => :long) %></td>
    <td><%= link_to image_tag('bin.png'), firm, confirm: 'Удалить, вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>

<%= will_paginate @firms %>
