<table>
  <th></th>
  <th>Логин</th>
  <% unless @firm -%>    
  <th>Фирма</th> 
  <% end -%>
  <th>ФИО</th>
  <th>Создан</th>
  <th>Кол-во входов</th>
  <th>Пред IP</th>
  <th>Пред. вход</th>
  <th>Текущ. IP</th>
  <th>Посл. активность</th>
  <% @users.each do |user| -%>
    <tr>
      <td><%= checked_box_image(user.active?) %></td>
      <td><%= edit_user_link user %></td>
      <% unless @firm -%>
        <td class="no-wrap"><%= link_to user.firm.name, firm_path(user.firm) if user.firm %></td>        
      <% end -%>
      <td><%= user.fio %>
      <p class="smalltext"><%= user.appoint %></p>
      </td>
      <td class="no-wrap"><%= I18n.l(user.created_at, :format => :short) if user.created_at %></td>      
      <td><%= user.login_count %></td>
      <td><%= user.last_login_ip %></td>
      <td class="no-wrap"><%= I18n.l(user.last_login_at, :format => :short) if user.last_login_at %></td>
      <td><%= user.current_login_ip %></td>
      <td class="no-wrap"><%= I18n.l(user.last_request_at, :format => :short) if user.last_request_at %></td>
    </tr>
  <% end -%>
</table>
