<table>
  <th></th>
  <th><%= sort_column :username, "Логин" %></th>      
  <% unless @firm -%>    
  <th><%= sort_column :firm_id, "Фирма" %></th>    
  <% end -%>
  <th><%= sort_column :fio, "ФИО" %></th>  
  <th><%= sort_column :created_at, "Создан" %></th>  
  <th><%= sort_column :sign_in_count, "Кол-во входов" %></th>  
  <th><%= sort_column :last_sign_in_ip, "Пред IP" %></th>  
  <th><%= sort_column :last_sign_in_at, "Пред вход" %></th>  
  <th><%= sort_column :current_sign_in_ip, "Текущ IP" %></th>  
  <th><%= sort_column :current_sign_in_at, "Текущ вход" %></th>  
  <% @users.each do |user| -%>
    <tr>
      <td><%= checked_box_image(user.active?) %></td>
      <td><%= edit_user_link user %></td>
      <% unless @firm -%>
        <td class="no-wrap"><%= link_to user.firm.name, firm_path(user.firm) if user.firm %> <br />
        <%= stats user.firm if user.firm %>
        </td>        
      <% end -%>
      <td><%= user.fio %>
      <p class="smalltext"><%= user.appoint %></p>
      </td>
      <td class="no-wrap"><%= I18n.l(user.created_at, :format => :short) if user.created_at %></td>      
      <td><%= user.sign_in_count %></td>
      <td><%= user.last_sign_in_ip %></td>
      <td class="no-wrap"><%= I18n.l(user.last_sign_in_at, :format => :short) if user.last_sign_in_at %></td>
      <td><%= user.current_sign_in_ip %></td>
      <td class="no-wrap"><%= I18n.l(user.current_sign_in_at, :format => :short) if user.current_sign_in_at %></td>
    </tr>
  <% end -%>
</table>
