<%= form_for(@firm, :html => {:class => "one_line_form"} ) do |f| %>
 
  <%= render :partial => "shared/error_messages", :locals => {:target => @firm } if @firm.errors.any? %>
<div class="grid_5 alpha">
  <div class="field">  
    <%= f.label :name, "Название в договоре" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>    
  <div class="field">
    <%= f.label :addr_u %>
    <%= f.text_area :addr_u %>
  </div>      
  <div class="field">
    <%= f.label :addr_f %>
    <%= f.text_area :addr_f %>
  </div>        
  <div class="field">
    <%= f.label :subway %>
    <%= f.text_field :subway %>
  </div>
  <div class="field">
    <%= f.label :phone %> <span class="input-helper" title="формат: +7(495)345-6789">+7(495)</span>
    <%= f.text_field :phone, :class=> "phone" %>
  </div> 
  <div class="field">
    <%= f.label :phone2 %> <span class="input-helper" title="формат: +7(495)345-6789">+7(495)</span>
    <%= f.text_field :phone2 %>
  </div>   
  <div class="field">
    <%= f.label :phone3 %> <span class="input-helper" title="формат: +7(495)345-6789">+7(495)</span>
    <%= f.text_field :phone3 %>
  </div>   
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>            
  <div class="field">
    <%= f.label :email2 %>
    <%= f.text_field :email2 %>
  </div>              
  <div class="field">
    <%= f.label :url %> <span class="input-helper">http://www.</span>
    <%= f.text_field :url %>
  </div>   
<div class="field default-select">
    <%= f.label :state_id %>
    <%= f.select :state_id, options_for_select(@states, @firm.state_id),  { :include_blank => "<= Статус =>" } %>
  </div>  
</div>  
<div class="grid_7 omega">
 <p class="label">Комментарий:</p>
    <div class="tinymce">
      <%= f.text_area :comment %>
   </div>
<div id="inline_persons" class="table-data">
  <%= yield :persons %>
</div>
</div>

<div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="clear"></div>
