<% page_title("Клиенты") -%>

<div id="filter">
<%= form_tag clients_path, :method => :get do %>
<fieldset>
<legend>Фильтр</legend>
<%= label_tag :id, "ID" %>: <%= text_field_tag :id, params[:id] %>
<%= label_tag :name, "Название" %>: <%= text_field_tag :name, params[:name] %>
<%= label_tag :phone, "Тел" %>: <%= text_field_tag :phone, params[:phone] %>
<%= label_tag :site, "Сайт" %>: <%= text_field_tag :site, params[:site] %>
<%= label_tag :email, "Email" %>: <%= text_field_tag :email, params[:email] %> 
<%= label_tag :state_id, "Статус" %>: <%= select_tag :state_id, options_for_select([["Все",-1]] + @states , params[:state_id])  %>
<%= submit_tag "Найти" , :name => nil%><br />
<%= label_tag :owner, "Менеджер" %>:
<% @owners.each do |owner| -%>
 <%= check_box_tag "owners[]", owner.id, params[:owners].present? && params[:owners].include?(owner.id.to_s), :id => dom_id(owner) %>
 <%= label_tag dom_id(owner), user_name(owner) %>
<% end -%>

</fieldset>
<% end -%>
</div>

<div class="b-command-menu">
  <%= link_to 'Новый клиент', new_client_path %>
</div>

<div id="firms" class="table_data">

<table>
  <tr>
    <th><%= sort_column :id, "ID" %></th>
    <th><%= sort_column :name, "Полное название" %></th>
    <th><%= sort_column :short_name, "Краткое название" %></th>
    <th><%= sort_column :city, "Город" %></th>
    <th><%= sort_column :phone, "Телефон" %></th>
    <th><%= sort_column :state_id, "Статус" %></th>
    <th>Менеджеры</th>
    <th><%= sort_column :created_at, "Создан" %></th>
    <th><%= link_to "П", "#", :title => "Кол-во пользователей", :class => "info" %></th>
    <th></th>
  </tr>

<% @firms.each do |firm| %>
  <tr>
    <td><%= firm.id %></td>
    <td><%= edit_firm_link(firm) %></td>
    <td><%= firm.short_name %></td>
    <td><%= firm.city %></td>
    <td><%= firm.phones.map(&:value).join(', ') %></td>
    <td><%= firm.state %></td>
    <td><%= firm.active_owners.map{|x| x.user.fio}.join(', ') %></td>
    <td><%= I18n.l(firm.created_at, :format => :long) %></td>
    <td><%= checked_box_image(firm.firm && firm.firm.users.present?) %></td>
    <td><%= link_to image_tag('bin.png'), client_path(firm), confirm: 'Удалить, вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>

<%= will_paginate @firms %>
