<%= form_for(@event, :html => {:class => "one_line_form"} ) do |f| %>
 
  <%= render :partial => "shared/error_messages", :locals => {:target => @event } if @event.errors.any? %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="clear"></div>
