<%= form_for([@firm,@person], :html => {:class => "one_line_form"} ) do |f| %>
 
  <%= render :partial => "shared/error_messages", :locals => {:target => @person } if @person.errors.any? %>
     <%= f.hidden_field :client_id %> 
<div class="grid_5 alpha">
  <div class="field default-select">
    <%= f.label :user_id %>
    <%= f.select :user_id, options_from_collection_for_select(@users, 'id', 'username', @person.user_id), { :include_blank => "<-Укажите аккаунт сотрудника ->" } %>
  </div>


  <div class="field">
    <%= f.label :fio %>
    <%= f.text_field :fio %>
  </div>
 <div class="field">
    <%= f.label :appoint %>
    <%= f.text_field :appoint %>
  </div>

   <%= f.fields_for :phones do |phones_fields| %>
   <div class="field">
   <%= phones_fields.label :value, "Телефон" %> <span class="input-helper" title="формат: +7(495)345-6789">+7(495)</span>
   <%= phones_fields.text_field :value %>
   </div>
   <% end %>
   
   <div class="add-new-item">
    <a href="" id="add_phone">Добавить телефон</a>
   </div>
   <div class="clear"></div>

   <%= f.fields_for :emails do |emails_fields| %>
   <div class="field">
   <%= emails_fields.label :value, "Email" %>
   <%= emails_fields.text_field :value %>
   </div>
   <% end %>
   
   <div class="add-new-item">
    <a href="" id="add_email">Добавить Email</a>
   </div>
   <div class="clear"></div>
   

 
  </div>  
  <div class="grid_7 omega">
   <p class="label">Комментарий:</p>
    <div class="tinymce">
      <%= f.text_area :comment %>
   </div>
  </div>
  <div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="clear"></div>
