<table>
  <tr>
    <th></th>
    <th><%= sort_column "`current_date`", "Дата" %></th>
    <% unless @firm -%>
    <th>Клиент</th>
    <th>Город</th>
    <% end -%>
    <% if @firm -%>
    <th>Сотрудник</th>
    <th>Телефон</th>      
    <% end -%>
    <th><%= sort_column :contact_type_id, "Тип" %></th>      
    <th>Разговор</th>
    <th><%= sort_column :next_date, "Следующий контакт" %></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to image_tag('edit.png'), edit_client_contact_path(contact.client, contact) %></td>
    <%= content_tag :td , :class => event_status_class_name(contact.event.status) do %>    
       <% concat I18n.l(contact.current_date, :format => :long) %>
       <% concat content_tag(:p, contact.event.name, :class => "smalltext") %>
       <% end -%>
    <% unless @firm -%>
    <td><%= edit_firm_link(contact.client) if contact.client %></td>
    <td><%= contact.client.city if contact.client %></td>       
    <% end -%>
    <% if @firm -%>
    <td><%= link_to_if contact.person.present?, person_name(contact), edit_client_person_path(contact.client, contact.person.present? ? contact.person : 0) if contact.person %></td>
    <td><%= contact.phone %></td>      
    <% end -%>
    <td><%= contact.contact_type.name %></td>
    <td><%= content_tag(:p,  truncate(sanitize(contact.comment), :length => 200, :omission => "..."), :class => "smalltext") %></td>
    <td><%= I18n.l(contact.next_date, :format => :long) %></td>    
    <td><%= link_to image_tag('bin.png'), client_contact_path(contact.client, contact), confirm: 'Удалить, вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

