<%= form_for([@firm, @contact] ) do |f| %>
  
  <div class="one_line_form">
  <%= render :partial => "shared/error_messages", :locals => {:target => @contact } if @contact.errors.any? %>
   <%= f.hidden_field :firm_id %> 
  <div class="field">
  <label for="">Клиент</label>
   <strong><%= @firm.name %></strong>
  </div>

  <div class="field">
    <%= f.label :current_date %>
    <%= f.datetime_select :current_date,  {:minute_step => 5} %>
  </div>
  <div class="field default-select">
    <%= f.label :contact_type_id %>
    <%= f.select :contact_type_id, options_from_collection_for_select(@contact_types, 'id', 'name', @contact.contact_type_id),{ :include_blank => "<- Выберите тип контакта ->" } %>
  </div>
  <div class="field default-select">
    <%= f.label :event_id %>
    <%= f.select :event_id, options_from_collection_for_select(@events, 'id', 'name', @contact.event_id),{ :include_blank => "<- Выберите событие ->" } %>
  </div>
    <div class="field default-select">
    <%= f.label :person_id %>
    <%= f.select :person_id, options_from_collection_for_select(@persons, 'id', 'fio', @contact.person_id),{ :include_blank => "<- Выберите сотрудника ->" } %>
  </div>
  <div class="field">
    <%= f.label :person_name %>
    <%= f.text_field :person_name  %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone  %>
  </div>

  <div class="field">
    <%= f.label :next_date %>
    <%= f.datetime_select :next_date,    {:default => 7.days.from_now, :minute_step => 5} %>
  </div>  
 </div>
<div class="clear"></div>
    <p class="label">Содержание разговора:</p>
    <div class="tinymce">
      <%= f.text_area :comment %>
   </div>
<div class="clear"></div>   
  <div class="actions">
    <%= f.submit %>
  </div>   
<% end %>

