<% page_title("Список контактов", true ) -%>

<div id="filter">
<%= form_tag my_contacts_path, :method => :get do %>
<fieldset>
<legend>Фильтр</legend>

<%= label_tag :date_from, "Дата контакта с" %>: <%= text_field_tag :date_from, params[:date_from], :class => "datepicker" %>
<%= label_tag :date_to, "по" %>: <%= text_field_tag :date_to, params[:date_to], :class => "datepicker" %>
<%= label_tag :next_date_from, "След. контакт с" %>: <%= text_field_tag :next_date_from, params[:next_date_from], :class => "datepicker" %>
<%= label_tag :next_date_to, "по" %>: <%= text_field_tag :next_date_to, params[:next_date_to], :class => "datepicker" %>
<%= check_box_tag :show_all, "1", params[:show_all]== "1", :title => "[x]-Показать все контакты. [ ]-Показать только последние контакты клиента" %>
<%= label_tag :show_all, "Показать все" %>
<%= submit_tag "Найти" , :name => nil%> <br />
<% if current_user.is_first_manager? -%>
  <%= label_tag :managers, "Менеджер:" %>   
  <% @managers.each do |owner| -%>
   <%= check_box_tag "managers[]", owner.id, params[:managers].present? && params[:managers].include?(owner.id.to_s), :id => dom_id(owner) %>
   <%= label_tag dom_id(owner), user_name(owner).present? ? user_name(owner) : owner.id %>
  <% end -%>
<% end -%>


</fieldset>
<% end -%>
</div>
<div class="spacer"></div>
<div id="contacts" class="table_data">

<%= render :partial => "contacts" %>
</div>

<%= will_paginate @contacts %>
