<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag    "application" %>
  <script> 

</script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div id="logo" class="container_12">
  <div class="grid_9 alpha"> 
  <h1> <%= link_to "Gift CRM", main_app.root_path %></h1>
  </div>
  <div class="grid_3 omega">
    <%= render :partial => 'shared/user_menu' if current_user %>
  </div>
    <%= render :partial => 'shared/menu' if current_user %>
    <%= yield :sub_menu  if current_user %>
</div>

</header>
<div id="container" class="container_12">
  <div class="grid_12">
     <%- flash.each do |name, msg| -%>
    <%= content_tag :div, raw(msg), :id => name  if name.to_s.index("notice") or name.to_s.index("alert") %>
  <%- end -%>
    <%= content_tag(:h1, yield(:page_title)) if content_for?(:page_title) %>
    <%= yield %>
  </div>
</div>
<footer>
(c) GiftResearch 2011
</footer>
</body>
</html>
